/* swiper custom */
.swiper {
  --swiper-navigation-color: #fff;
  --swiper-pagination-bullet-width: 5px;
  --swiper-pagination-bullet-height: 5px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
.swiper-pagination-bullet {
  background: #fff;
	border-radius: 5px !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}
.swiper-pagination-bullet-active {
  background: var(--ion-text-color-r-dark);
  width: 18px;
  height: 5px;
}
/* first setting */
.nestSwiper.swiper {
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
}
.nestSwiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.nestSwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3px;
}
.nestSwiper .swiper-pagination-bullet-active {
  background: var(--color);
  width: 30px;
  height: 8px;
}