/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** google font **/
@import url(https://db.onlinewebfonts.com/c/887bf037e9cf41f0ab02c38fe9d94341?family=MElle+HK+Medium);
@import url(https://db.onlinewebfonts.com/c/ea5c514cbb95af4be128bb9cd5dc1101?family=MElle+HKS+Xbold);
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

/** basic **/
ion-app {
  max-width: 576px;
  margin: auto;
}
body {
  font-size: clamp(10px, calc(10px + (12 - 8)*(100vw - 375px)/(768 - 375)), 12px);
}
.flex-1 {
  flex: 1;
}
.padding-horizontal-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-vertical-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.red-border {
  background-color: #E1524E;
  height: 4px;
}
.horizental-line {
  padding: 5px 0 10px;
}
.gray-border {
  background-color: #494949;
  height: 1px;
  width: 100%;
}
/** 商品標籤 **/
.chip {
  display: flex;
  justify-content: end;
}
.chip div {
  border-radius: 8px;
  color: #fff;
  font-size: 0.8rem;
  padding: 2px 6px;
  margin: 0 1px;
}
.chip .yellow {
  background: #f7ac3b;
}
.chip .green {
  background: #6fbbac;
}
.chip .red {
  background: #f17456;
}
.chip .red-gradient {
  background: linear-gradient(90deg, #f17456, #de534e 50%);
}
.chip .gray {
  background: #808080;
}
/** 商品價格 **/
.price-price-block {
  display: flex;
}
.price-price-block .price, .price-price-block .sale {
  color: var(--ion-text-color-r-dark);
  font-size: 0.7rem;
  font-family: var(--ion-font-family-number);
  margin-right: 5px;
}
/** share modal **/
.share-modal .textarea-label-placement-floating.sc-ion-textarea-ios-h textarea.sc-ion-textarea-ios, .share-modal .textarea-label-placement-floating.sc-ion-textarea-md-h textarea.sc-ion-textarea-md {
  margin-top: 12px;
  padding-bottom: 15px;
  line-height: 20px;
}

/** Ionic CSS Variables **/
:root {
  /** basic **/
  --color: #494949;
  --color-white: #fff;
  --ion-text-color: #494949;
  --ion-text-color-g: #6fbbac;
  --ion-text-color-r-light: #f17456;
  --ion-text-color-r-dark: #de534e;
  --ion-text-color-purple: #4c4072;
  --ion-item-background: rgba(255, 255, 255, 0);
  --ion-font-family: "MElle HK Medium";
  --ion-font-family-bold: "MElle HKS Xbold"; /* only number */
  --ion-font-family-number: "Albert Sans";
  --ion-font-family-score: 'Arya';
  
  /** primary **/
  --ion-color-primary: #494949;
  --ion-color-primary-rgb: 73, 73, 73;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #333;
  --ion-color-primary-tint: #494949;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
/** login **/
.login .input-label-placement-start.sc-ion-input-ios-h .label-text-wrapper.sc-ion-input-ios, .login .input-label-placement-start.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
  margin-inline-end: 10px;
}
/** first setting **/
.welcome .sc-ion-input-ios-h:not(.legacy-input) {
  min-height: 30px;
}
/** basic **/
.basic .input-label-placement-start.sc-ion-input-ios-h .label-text-wrapper.sc-ion-input-ios, .basic .input-label-placement-start.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
  margin-inline-end: 5px;
}
.basic .sc-ion-input-ios-h:not(.legacy-input), .social .sc-ion-input-ios-h:not(.legacy-input) {
  min-height: 30px;
}
/** card modal **/
ion-modal.card-modal::part(backdrop) {
  opacity: 0.7 !important;
}
/** form **/
.form-title {
	font-size: 1.2em;
	margin: 5px 0;
}
.form-title span {
	color: #ccc;
}
.form-title span.red {
	color: var(--ion-text-color-r-dark)
}